* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #83aa0e;
  overflow: hidden;
}
#header {
  text-align: center;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
#typing {
  font-size: 3rem;
  padding: 2rem;
}
#time {
  margin: 1rem;
  width: 100vw;
  text-align: center;
}
#time h2 {
  color: #e2e2e2;
  font-size: 2.3rem;
}
#counter {
  font-size: 4.3rem;
}

#result {
  width: 100%;
  justify-content: center;
  display: none;
}

#result .showResult {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
}

#result .showResult h2 {
  font-size: 40px;
  line-height: 30px;
  text-transform: uppercase;
  color: #e2e2e2;
  margin: 1rem;
}

#result .showResult h1 {
  line-height: 50px;
  font-size: 60px;
}

#typing-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#input_area {
  background: #17181c;
  width: 100vw;
  margin-top: 2rem;
  padding: 2rem;
  height: 26rem;
  overflow: scroll;
  line-height: 2rem;
  font-size: 2.5rem;
}
#input_area::-webkit-scrollbar {
  display: none;
}
#userInput {
  margin: 1rem;
  outline: none;
  border-radius: 1rem;
  width: 90vw;
  padding: 1rem;
  background: ;
}
/* Correct Class For Correct Characters */
.correct {
  color: #83aa0e;
}
.cursor {
  cursor: none;
}

/* Incorrect Class For Incorrect Characters */
.incorrect {
  color: #dc1414;
}
span {
  color: #606060;
  font-size: 1.5rem;
  margin: 0.1rem;
}
.myButton {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 2rem;
  display: none;
  text-align: center;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
